* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: black;
  overflow: hidden;
}

/* HEART CANVAS */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* SCREENS */
.screen {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.screen.active {
  display: flex;
}

/* BUTTONS */
button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#nextBtn {
  background: pink;
}

#confirmBtn {
  background: red;
  color: white;
  margin-top: 15px;
}

/* INPUT */
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

/* PAPER */
.paper {
  background: #fff;
  color: #000;
  padding: 30px;
  width: 300px;
  min-height: 150px;
  border-radius: 10px;
}
